p.speech {
position: relative;
width: 200px;
height: 100px;
text-align: center;
color: black;
font-weight: bold;
line-height: 100px;
border-radius: 30px;
background-color: cyan;
box-shadow: 2px 2px 4px gray;
margin: 0 auto;
}
p.speech:after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  top: 90px;
  border: 25px solid;
  border-color: cyan transparent transparent cyan;

}
